.login-btn {
    background-color: var(--color-primary);
    color: #fff;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0;
}

.login-btn:active {
    background-color: #5a0099;

}

.auth-input-text {
    padding: 0.4rem 0.6rem;
    border: 1px solid #000;
    outline: none;
}