.logged-in-actions > * {
  margin-left: 10px;
  font-size: 0.8rem;
}

.search {
  position: relative;
}

.search > .search-icon {
  margin-top: 10px;
  position: absolute;
  left: 20px;
}

.search-input {
  width: 65vw;
  border-radius: 20px;
  padding-left: 40px;
}

.header-app-name {
  font-family: 'Lora', serif;
  font-size: 1.3rem;
  font-weight: 700;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.avatar-large {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .space-top-mobile {
    margin-top: 1em;
  }
}

